In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## import the data

In [2]:
data=pd.read_csv('cars.csv')
data.head()

,make,model,priceUSD,year,condition,mileage(kilometers),fuel_type,volume(cm3),color,transmission,drive_unit,segment
0,mazda,2,5500,2008,with mileage,162000.0,petrol,1500.0,burgundy,mechanics,front-wheel drive,B
1,mazda,2,5350,2009,with mileage,120000.0,petrol,1300.0,black,mechanics,front-wheel drive,B
2,mazda,2,7000,2009,with mileage,61000.0,petrol,1500.0,silver,auto,front-wheel drive,B
3,mazda,2,3300,2003,with mileage,265000.0,diesel,1400.0,white,mechanics,front-wheel drive,B
4,mazda,2,5200,2008,with mileage,97183.0,diesel,1400.0,gray,mechanics,front-wheel drive,B

## data overview

In [3]:
data.shape

(56244, 12)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56244 entries, 0 to 56243
Data columns (total 12 columns):
make                   56244 non-null object
model                  56244 non-null object
priceUSD               56244 non-null int64
year                   56244 non-null int64
condition              56244 non-null object
mileage(kilometers)    56244 non-null float64
fuel_type              56244 non-null object
volume(cm3)            56197 non-null float64
color                  56244 non-null object
transmission           56244 non-null object
drive_unit             54339 non-null object
segment                50953 non-null object
dtypes: float64(2), int64(2), object(8)
memory usage: 5.1+ MB

In [5]:
data.describe()

            priceUSD          year  mileage(kilometers)   volume(cm3)
count   56244.000000  56244.000000         5.624400e+04  56197.000000
mean     7415.456440   2003.454840         2.443956e+05   2104.860615
std      8316.959261      8.144247         3.210307e+05    959.201633
min        48.000000   1910.000000         0.000000e+00    500.000000
25%      2350.000000   1998.000000         1.370000e+05   1600.000000
50%      5350.000000   2004.000000         2.285000e+05   1996.000000
75%      9807.500000   2010.000000         3.100000e+05   2300.000000
max    235235.000000   2019.000000         9.999999e+06  20000.000000

## deal with missing values

In [6]:
data.isnull().sum()

make                      0
model                     0
priceUSD                  0
year                      0
condition                 0
mileage(kilometers)       0
fuel_type                 0
volume(cm3)              47
color                     0
transmission              0
drive_unit             1905
segment                5291
dtype: int64

In [7]:
data['drive_unit'].fillna(method='pad',inplace=True)
data['segment'].fillna(method='pad',inplace=True)
data['volume(cm3)'].fillna(data['volume(cm3)'].mean(),inplace=True)

In [8]:
data.isnull().sum()

make                   0
model                  0
priceUSD               0
year                   0
condition              0
mileage(kilometers)    0
fuel_type              0
volume(cm3)            0
color                  0
transmission           0
drive_unit             0
segment                0
dtype: int64

## handle outliers

In [9]:
data=data.drop(data[(data['mileage(kilometers)']==0)].index)
data=data.drop(data[(data['mileage(kilometers)']==9999999)].index)
data.describe()

            priceUSD          year  mileage(kilometers)   volume(cm3)
count   56032.000000  56032.000000         5.603200e+04  56032.000000
mean     7427.862900   2003.483759         2.413940e+05   2104.481768
std      8305.948477      8.123726         2.566532e+05    950.546357
min        48.000000   1910.000000         1.000000e+00    500.000000
25%      2377.000000   1998.000000         1.380000e+05   1600.000000
50%      5399.000000   2004.000000         2.300000e+05   1997.000000
75%      9900.000000   2010.000000         3.100000e+05   2300.000000
max    235235.000000   2019.000000         8.888888e+06  20000.000000

## deal with duplicate values

In [10]:
data[data.duplicated()]

,make,model,priceUSD,year,condition,mileage(kilometers),fuel_type,volume(cm3),color,transmission,drive_unit,segment
832,renault,19,700,1993,with mileage,300000.0,petrol,1800.0,burgundy,mechanics,front-wheel drive,C
1930,audi,100,1280,1991,with mileage,305000.0,petrol,2300.0,red,mechanics,front-wheel drive,E
2054,audi,100,2000,1988,with mileage,350000.0,petrol,2300.0,blue,mechanics,front-wheel drive,E
2140,audi,100,1100,1989,with mileage,350000.0,petrol,2300.0,burgundy,mechanics,front-wheel drive,E
2179,peugeot,106,700,2000,with mileage,27000.0,diesel,1500.0,blue,mechanics,front-wheel drive,B
4334,peugeot,406,2200,1995,with mileage,330000.0,petrol,1800.0,gray,mechanics,front-wheel drive,D
4411,peugeot,406,3800,1999,with mileage,580000.0,petrol,2000.0,silver,mechanics,front-wheel drive,D
4456,peugeot,406,1300,1995,with mileage,390000.0,petrol,1800.0,green,mechanics,front-wheel drive,D
4529,peugeot,407,4350,2005,with mileage,311021.0,diesel,1600.0,white,mechanics,front-wheel drive,D
4552,peugeot,407,5900,2005,with mileage,340000.0,petrol,2000.0,black,auto,front-wheel drive,D
4817,volvo,460,1000,1996,with mileage,360000.0,petrol,1800.0,silver,mechanics,front-wheel drive,C
5629,mazda,626,2300,1998,with mileage,370000.0,petrol,2000.0,blue,mechanics,front-wheel drive,C
5669,mazda,626,2100,1999,with mileage,300000.0,diesel,2000.0,green,mechanics,front-wheel drive,C
5844,peugeot,807,6500,2003,with mileage,170000.0,diesel,2200.0,blue,auto,front-wheel drive,M
6249,lada-vaz,2106,600,1989,with mileage,230000.0,petrol,1300.0,other,mechanics,rear drive,B
7465,lada-vaz,2121-niva,5300,2012,with mileage,56000.0,petrol,1700.0,green,mechanics,all-wheel drive,J
7691,bmw,3-seriya,5000,2001,with mileage,350000.0,petrol,1800.0,black,mechanics,rear drive,D
8545,mazda,323f,300,1993,with mileage,380000.0,petrol,1600.0,gray,mechanics,front-wheel drive,C
9211,bmw,5-seriya,2700,1997,with mileage,400000.0,diesel,2500.0,green,auto,rear drive,E
10617,bmw,7-seriya,5100,1996,with mileage,355000.0,petrol,2800.0,black,mechanics,rear drive,F
11335,audi,a4,9500,2008,with mileage,185000.0,petrol,1800.0,gray,mechanics,front-wheel drive,D
11564,audi,a4,6500,2003,with mileage,238000.0,diesel,2500.0,gray,mechanics,front-wheel drive,D
11622,audi,a4,5300,2001,with mileage,280000.0,petrol,1600.0,black,mechanics,front-wheel drive,D
11730,audi,a4,10800,2009,with mileage,190000.0,diesel,2000.0,black,auto,front-wheel drive,D
11803,audi,a4,4700,2000,with mileage,300000.0,diesel,1900.0,black,mechanics,front-wheel drive,D
12046,audi,a6,8900,2008,with mileage,153000.0,petrol,2000.0,black,auto,front-wheel drive,E
12183,audi,a6,8300,2005,with mileage,390000.0,diesel,2000.0,black,mechanics,front-wheel drive,E
12184,audi,a6,6650,2003,with mileage,357000.0,diesel,1900.0,silver,auto,front-wheel drive,E
12833,audi,a6,5400,2000,with mileage,350000.0,diesel,1900.0,blue,mechanics,front-wheel drive,E
13440,audi,a8,7000,2003,with mileage,350000.0,petrol,4200.0,black,auto,all-wheel drive,F
...,...,...,...,...,...,...,...,...,...,...,...,...
38867,volkswagen,passat,3000,1997,with mileage,266000.0,petrol,1600.0,black,auto,front-wheel drive,D
39096,volkswagen,passat,13650,2015,with mileage,142000.0,diesel,1600.0,black,mechanics,front-wheel drive,D
39261,volkswagen,passat,3950,1997,with mileage,500000.0,diesel,1900.0,green,mechanics,front-wheel drive,D
40540,volkswagen,polo,4800,2008,with mileage,120000.0,petrol,1400.0,silver,mechanics,front-wheel drive,B
40924,nissan,primera,2099,1999,with mileage,400000.0,diesel,2000.0,silver,mechanics,front-wheel drive,D
41321,nissan,primera,856,1992,with mileage,333333.0,petrol,1600.0,red,mechanics,front-wheel drive,D
41810,audi,q5,23500,2015,with mileage,57000.0,petrol,2000.0,gray,auto,part-time four-wheel drive,J
42905,toyota,rav4,8750,2005,with mileage,245000.0,petrol,2000.0,black,auto,all-wheel drive,J
43792,mercedes-benz,s-klass,14950,2008,with mileage,270000.0,diesel,3200.0,black,auto,rear drive,S
44700,renault,safrane,2350,1997,with mileage,333000.0,petrol,2000.0,blue,mechanics,front-wheel drive,E
45663,renault,scenic,2200,1998,with mileage,350000.0,petrol,1600.0,blue,mechanics,front-wheel drive,M
45744,renault,scenic,2800,1999,with mileage,185000.0,petrol,1600.0,blue,mechanics,front-wheel drive,M
45800,renault,scenic,7000,2009,with mileage,182000.0,diesel,1500.0,silver,mechanics,front-wheel drive,M
45836,renault,scenic,4650,2004,with mileage,185000.0,diesel,1900.0,blue,mechanics,front-wheel drive,M
46569,volkswagen,sharan,15100,2015,with mileage,175000.0,diesel,2000.0,silver,mechanics,front-wheel drive,E
46590,volkswagen,sharan,9900,2006,with mileage,260000.0,diesel,1900.0,black,mechanics,front-wheel drive,E
46816,ford,sierra,600,1987,with mileage,260.0,petrol,2000.0,gray,mechanics,rear drive,E
50665,isuzu,trooper,10000,2001,with mileage,212000.0,diesel,3000.0,other,auto,part-time four-wheel drive,M
50882,fiat,ulysse,3500,1996,with mileage,10.0,diesel,1900.0,green,mechanics,front-wheel drive,M
51321,opel,vectra,5500,2008,with mileage,175000.0,petrol,1800.0,silver,auto,front-wheel drive,D
51505,opel,vectra,2190,1998,with mileage,300000.0,petrol,1600.0,green,auto,front-wheel drive,D
51567,opel,vectra,2190,1998,with mileage,300000.0,petrol,1600.0,green,auto,front-wheel drive,D
51677,opel,vectra,6450,2007,with mileage,3333333.0,diesel,1900.0,silver,mechanics,front-wheel drive,D
53342,bmw,x5,11000,2007,with mileage,185000.0,petrol,4800.0,black,auto,all-wheel drive,J
53694,bmw,x5,16500,2007,with mileage,265000.0,diesel,3000.0,white,auto,all-wheel drive,J
53828,bmw,x5,10000,2005,with mileage,231000.0,petrol,3000.0,black,auto,all-wheel drive,J
54264,citroen,xantia,1800,1999,with mileage,300000.0,petrol,1800.0,black,mechanics,front-wheel drive,D
55278,citroen,xsara-picasso,3200,2001,with mileage,390000.0,diesel,2000.0,other,mechanics,front-wheel drive,C
55763,opel,zafira,4700,2002,with mileage,320000.0,diesel,2000.0,silver,mechanics,front-wheel drive,M
56173,opel,zafira,6700,2006,with mileage,293628.0,diesel,1900.0,black,mechanics,front-wheel drive,M

In [11]:
data.drop_duplicates(inplace=True)

In [12]:
data[data.duplicated()]

Empty DataFrame
Columns: [make, model, priceUSD, year, condition, mileage(kilometers), fuel_type, volume(cm3), color, transmission, drive_unit, segment]
Index: []

In [13]:
data.index=range(data.shape[0])
data.index

RangeIndex(start=0, stop=55941, step=1)

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55941 entries, 0 to 55940
Data columns (total 12 columns):
make                   55941 non-null object
model                  55941 non-null object
priceUSD               55941 non-null int64
year                   55941 non-null int64
condition              55941 non-null object
mileage(kilometers)    55941 non-null float64
fuel_type              55941 non-null object
volume(cm3)            55941 non-null float64
color                  55941 non-null object
transmission           55941 non-null object
drive_unit             55941 non-null object
segment                55941 non-null object
dtypes: float64(2), int64(2), object(8)
memory usage: 5.1+ MB

In [15]:
data.to_csv('D:/data/cars.data cleaning.csv')